---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Careers"
    image={{
      src: '~/assets/images/careers.jpg',
      alt: 'Team Photo',
    }}
  >
    <Fragment slot="title">
      Elevate your career by joining <br />
      <span class="text-accent dark:text-white highlight"> Our Team</span>
    </Fragment>

    <Fragment slot="subtitle">
      Join a team where innovation meets impact. At Software Minions, we foster a culture of collaboration, growth, and excellence, 
      empowering you to take your career to new heights. Whether you're an experienced professional or just starting your journey, 
      you'll work on meaningful projects, tackle exciting challenges, and grow alongside some of the brightest minds in the industry. 
      Together, let's shape the future of technology and create solutions that truly make a difference
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <ContactUs
    id="form"
    title="Applications are currently filled"
    subtitle="While our current positions are filled, we encourage you to share your details with us. We'll keep your information on file and reach out as soon as a suitable opportunity becomes available."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }},
    button="Submit"
  />
</Layout>
