---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'WJ Installations',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Let
      <span class="text-accent dark:text-white highlight"> WJ Installations</span> fit your amazing floor
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with WJ Installations"
    subtitle="Experienced laminate flooring services and electrical installations in Stafford."
    items={[
      {
        title: 'Professional Installation',
        description:
          'With years of experience, we provide precise and professional laminate floor installation to enhance the beauty and durability of your space.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Tailored to Your Needs',
        description:
          'Every home is unique. We work closely with you to select the perfect laminate flooring that matches your style, budget, and lifestyle',
        icon: 'tabler:bulb',
      },
      {
        title: 'Fast and Reliable Service',
        description:
          'We pride ourselves on punctuality and efficiency, completing projects on time without compromising on quality',
        icon: 'tabler:rocket',
      },
      {
        title: 'Transparent Pricing',
        description:
          'No hidden costs. We provide clear, upfront quotes, so you know exactly what to expect from start to finish',
        icon: 'tabler:currency-pound',
      },
      {
        title: 'Aftercare Support',
        description:
          "Your satisfaction matters. We offer tips on maintenance and are available to answer any questions even after the job is done",
        icon: 'tabler:chart-arrows-vertical',
      },
      {
        title: 'Quality Materials',
        description:
          'We source high-quality laminate flooring that is built to last, ensuring your investment adds long-term value to your home',
        icon: 'tabler:components',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream project completed with us."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Kickstart your project with a free consultation",
        icon: 'tabler:phone',
      },
      {
        title: 'Step 2: <span class="font-medium">Build</span>',
        description:
          "Design your perfect floor.",
        icon: 'tabler:code',
      },
      {
        title: 'Step 3: <span class="font-medium">Delivery</span>',
        description:
          'Install into your house.',
        icon: 'tabler:package',
      },
      {
        title: 'Enjoy!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/side-image.jpg',
      alt: 'Floor image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used Products"
    subtitle="Some of our most frequently used products for flooring solutions"
    tagline="Components"
    items={[
      {
        title: 'Karndean',
        description: "Karndean flooring offers the perfect blend of luxury, durability, and style. Known for its realistic wood and stone designs, Karndean flooring combines elegance with practical benefits like water resistance, easy maintenance, and exceptional durability. Whether you're updating a single room or transforming your entire home, Karndean flooring delivers high-quality results that stand the test of time. Perfect for busy households and commercial spaces alike, it’s a versatile choice to suit any lifestyle.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Amtico',
        description: "Amtico flooring is synonymous with premium quality and innovative design. Renowned for its stunning range of luxury vinyl tiles, Amtico offers endless possibilities to create beautiful, durable floors that perfectly match your style. With exceptional resistance to wear and tear, Amtico flooring is ideal for both residential and commercial spaces, providing a practical yet elegant solution. Easy to maintain and designed to last, Amtico flooring is the ultimate choice for those seeking sophistication and performance in every step",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Quick-Step',
        description: "Quick-Step flooring is a top choice for those seeking style, durability, and innovation. Renowned for its stunning laminate and luxury vinyl collections, Quick-Step offers a wide variety of designs to complement any home or commercial space. With advanced features like scratch resistance and water-resistant technology, it’s built to withstand the demands of everyday life. Easy to install and maintain, Quick-Step flooring is the perfect blend of practicality and elegance, ensuring a flawless finish that lasts for years to come.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Laminate',
        description: "Laminate flooring is a stylish, versatile, and cost-effective option for any home or business. With a wide range of designs that mimic natural wood and stone, laminate flooring offers the perfect balance of aesthetics and practicality. Durable, scratch-resistant, and easy to maintain, it’s ideal for high-traffic areas and busy households. Whether you're updating one room or your entire property, laminate flooring provides a beautiful, hard-wearing solution at an affordable price.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Vinyl',
        description: "Vinyl flooring is a versatile and cost-effective option that combines style, durability, and comfort underfoot. Available in a wide range of designs, from realistic wood and stone effects to bold modern patterns, vinyl flooring is perfect for any space in your home or business. Its water-resistant properties make it an excellent choice for kitchens, bathrooms, and high-traffic areas. Easy to clean and maintain, vinyl flooring delivers long-lasting performance while adding a touch of elegance to your interiors.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Engineered Wood',
        description: "Engineered wood flooring offers the timeless beauty of real wood with enhanced durability and stability. Crafted from layers of high-quality materials topped with a genuine hardwood veneer, it provides the authentic look and feel of solid wood while being more resistant to changes in temperature and humidity. Perfect for both traditional and modern interiors, engineered wood flooring combines luxury and practicality, making it a stylish and long-lasting choice for any home or commercial space..",
        icon: 'flat-color-icons:gallery',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out in our Blog"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How long does it take to fit laminate flooring?',
        description:
          "The time required depends on the size and complexity of the area. On average, a standard-sized room can be completed in a day. Larger or more intricate spaces, such as those with angled walls or multiple rooms, may take longer.",
      },
      {
        title: 'Do I need to prepare the area before you start?',
        description:
          'Yes, we recommend clearing the space of furniture and personal items before we arrive. If you need assistance, let us know in advance, and we can discuss how to help. We’ll also check that the subfloor is clean, level, and ready for installation.',
      },
      {
        title: 'Can you remove and dispose of old flooring?',
        description:
          'Absolutely. We offer old flooring removal and disposal services as part of our work. Just let us know beforehand, and we’ll include this in your quote.',
      },
      {
        title: 'Which areas do you cover?',
        description:
          'We are based in Stafford, Staffordshire, and provide installation services locally and across the UK. National availability depends on the size and scope of the project, so please get in touch to discuss your requirements',
      },
      {
        title: 'What types of flooring do you install?',
        description:
          'We specialize in installing laminate, Karndean, Amtico, and other luxury vinyl tiles (LVT). Whether it’s for residential or commercial spaces, we can help you choose and install the perfect flooring solution.',
      },
      {
        title: 'Is laminate flooring suitable for kitchens and bathrooms?',
        description:
          'Yes, modern laminate flooring is designed to be water-resistant and durable, making it suitable for kitchens. However, for bathrooms or areas with high moisture, we recommend discussing other options, like luxury vinyl, for the best results.',
      },
      {
        title: 'Do you offer a warranty or guarantee for your work?',
        description:
          'Yes, all of our installations come with a workmanship guarantee. The length of the warranty depends on the type of flooring installed and will be discussed during the consultation.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Founded', amount: '2008' },
      { title: 'Floors fitted', amount: '100+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Let us help',
        href: 'contact',
        target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">WJ Installations</span>
    </Fragment>

  </CallToAction>
</Layout>
