---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Software Minions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image2.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Expert Software Solutions
      <span class="text-accent dark:text-white highlight"> Tailored</span> for Your Business Success
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
         Partner with <span class="font-semibold">Software Minions</span> to unlock innovative, efficient, and scalable software solutions. We specialize in understanding your unique challenges and delivering tailored technologies that drive growth and streamline operations.</span>
         <span class="block mb-1 font-bold text-blue-600">Let’s transform your ideas into impactful results</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Software Minions"
    subtitle="One of the most professional software consultancy firms today."
    items={[
      {
        title: 'Tailored software solutions',
        description:
          'Every business is unique, and so are its challenges. Our tailored software solutions are designed specifically to meet your needs, ensuring seamless integration, optimized performance, and maximum impact for your operations. From concept to deployment, we deliver technology that works for you',
        icon: 'tabler:components',
      },
      {
        title: 'Fast project delivery',
        description:
          'We understand the importance of time in achieving your goals. Our streamlined processes and agile approach ensure your projects are delivered quickly without compromising on quality, keeping you ahead of the competition',
        icon: 'tabler:rocket',
      },
      {
        title: 'Best Practices',
        description:
          'Our expertise is built on industry-leading best practices, ensuring your software is secure, efficient, and future-ready. By leveraging proven methodologies, we deliver solutions that meet the highest standards of quality and reliability',
        icon: 'tabler:list-check',
      },
      {
        title: 'Cost-effective strategies',
        description:
          'Maximize your ROI with our cost-effective strategies. We focus on delivering high-quality solutions that align with your budget, helping you achieve your goals without unnecessary expenses',
        icon: 'tabler:currency-pound',
      },
      {
        title: 'Scalable system designs',
        description:
          "Our scalable system designs grow with your business. Whether you're expanding, integrating new technologies, or handling increased demand, our solutions ensure your operations remain seamless and future-proof",
        icon: 'tabler:chart-arrows-vertical',
      },
      {
        title: 'Open to new ideas and technologies',
        description:
          'We thrive on innovation and embrace new ideas and technologies to deliver cutting-edge solutions. By staying adaptable and forward-thinking, we help your business stay competitive in an ever-evolving landscape',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside view"
    title="Software Minions Blueprint: Functionality meet Success!"
    items={[
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'TODO',
        description: `todo.`,
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description:
          "todo.",
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description:
          'todo.',
      },
      {
        title: 'TODO',
        description: `todo.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream project completed with Software Minions."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Kickstart your project by contacting us to get a consultation",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Build</span>',
        description:
          "Design and build a solution.",
        icon: 'tabler:code',
      },
      {
        title: 'Step 3: <span class="font-medium">Delivery</span>',
        description:
          'Release into production.',
        icon: 'tabler:package',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used Technologies"
    subtitle="SOme of our most frequently used components for building software solutions"
    tagline="Components"
    items={[
      {
        title: 'C#',
        description: "TODO.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'SQL',
        description: "TODO.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'HTML/CSS',
        description: "TODO.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'AWS',
        description: "TODO.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Cloudflare',
        description: "TODO.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Azure',
        description: "TODO.",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Javascript & Typescript',
        description: "TODO.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'React',
        description: "TODO.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Go',
        description: "TODO.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out in our Blog"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why us?',
        description:
          "Our primary focus is on delivering tangible business value and maximizing your return on investment. Rather than chasing the latest trends or technology stacks, we prioritize understanding and addressing your unique business needs. We believe that successful solutions are built on a strong foundation of relevance and practicality, ensuring that every decision we make is aligned with achieving your goals",
      },
      {
        title: 'What industries do you work with?',
        description:
          'We have experience working with clients in industries such as finance, gambling, manufacturing, AIDC (Barcode, RFID), geospatial, providing solutions tailored to each sectors needs.',
      },
      {
        title: 'Do you follow Agile or Waterfall methodology?',
        description:
          "We typically use Agile methodology to deliver iterative improvements and continuous feedback, but we can adjust to your preferred approach depending on your project's scope and needs.",
      },
      {
        title: "How do you ensure the quality of the software?",
        description:
          "We implement robust testing practices, including unit tests, integration tests, and acceptance testing, to ensure the software meets both functional and performance standards.",
      },
      {
        title: 'Who will manage my project?',
        description:
          "Each project is assigned a dedicated project manager who will serve as your main point of contact and ensure the project stays on track.",
      },
      {
        title: 'Do you offer free consultations?',
        description:
          "Yes, we offer a free initial consultation to understand your needs and discuss potential solutions.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Founded', amount: '2015' },
      { title: 'Projects Delivered', amount: '30+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Let us help',
        href: 'contact',
        target: '_blank',
        icon: 'tabler:hand-finger',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Software Minions</span>
    </Fragment>

    <Fragment slot="subtitle">
      Starting a successful IT transformation
    </Fragment>
  </CallToAction>
</Layout>
