---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Content
    isReversed
    id="jonathan=-willis"
    columns={3}
    items={[
      {
        icon: 'tabler:buildings',
        callToAction: {
          target: '_blank',
          text: 'Founder',
          href: '#',
        },
      },
      {
        icon: 'tabler:settings',
        callToAction: {
          target: '_blank',
          text: 'Architect',
          href: '#',
        },
      },
      {
        icon: 'tabler:code',
        callToAction: {
          target: '_blank',
          text: 'Developer',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/jon.jpg',
      alt: 'Jonathan Willis',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Jonathan Willis</h2>
      <p>
        I founded Software Minions in 2014 with a vision to create a consultancy that goes beyond delivering
        software—one that truly solves business challenges and helps clients achieve their goals. With over a decade of
        experience, our team has built a reputation for providing innovative and practical solutions tailored to the
        unique needs of our clients. From startups to established enterprises, we pride ourselves on being a trusted
        partner in their success stories.
      </p>
      <br />
      <p>
        Since our inception, we’ve worked across a diverse range of industries. Each project has been an opportunity to
        learn, grow, and refine our expertise. Whether it’s building scalable applications, modernizing legacy systems,
        or integrating complex technologies, we approach every challenge with a commitment to excellence and a focus on
        delivering measurable results.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
  isReversed
  id="cheryl=-willis"
  columns={3}
  items={[
    {
      icon: 'tabler:arrow-up',
      callToAction: {
        target: '_blank',
        text: 'Director',
        href: '#',
      },
    },
    {
      icon: 'tabler:coins',
      callToAction: {
        target: '_blank',
        text: 'Finance',
        href: '#',
      },
    },
    {
      icon: 'tabler:note',
      callToAction: {
        target: '_blank',
        text: 'Admin',
        href: '#',
      },
    },
  ]}
  image={{
    src: '~/assets/images/cheryl3.png',
    alt: 'Cheryl Willis',
    loading: 'lazy',
  }}
>
  <Fragment slot="content">
    <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Cheryl Willis</h2>
    <p>
      Cheryl serves as the backbone of Software Minions operations, overseeing all financial aspects to ensure smooth and 
      efficient business management. From managing invoices and contracts to handling tax compliance, accounts, and essential paperwork, 
      Cheryl plays a pivotal role in maintaining the company's financial health and operational excellence.
    </p>
    <br />
    <p>
      With a meticulous eye for detail and a proactive approach, Cheryl ensures that every aspect of our financial processes is handled with precision and care.
      Their expertise not only keeps our operations running seamlessly but also enables us to provide a reliable and professional experience for our clients.
    </p>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
</Layout>
